[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipreqs = "*"
python-dotenv = "*"
requests = "*"
django = "*"
jinja2 = "*"
django-simpleui = "*"
django-cors-headers = "*"
openpyxl = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pretty_errors = "*"

[requires]
python_version = "3.9"
