[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipreqs = "*"
python-dotenv = "*"
requests = "*"
pandas="*"
jinja2 = "*"
django = "*"
django-mysql = "*"
django-hashid-field = "*"
django-rest-framework = "*"
django-jinja = "*"
django-simpleui = "*"
django-cors-headers = "*"
django-sslserver = "*"
openpyxl = "*"
waitress = { version = "*", sys_platform = "== 'win32'" }
gunicorn = { version = "*", sys_platform = "!= 'win32'" }

[dev-packages]
autopep8 = "*"
pylint = "*"
pretty_errors = "*"

[requires]
python_version = "3.9"
