{% extends 'SilencerAtlas/home.html' %}
{% block main_styles %}
{% endblock %}
{% block main_content %}
    <div id="mainContent" style="display: none">
        <div class="d-flex justify-content-center pt-4 fs-3">
            <div class="col-10 d-flex flex-column p-4 fs-3">
                <h2>Contact us</h2>
                <div class="row g-5 pt-5">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <h1 class="card-title pb-3" style="color: #363636">Fukun Chen, M.S.</h1>
                                <div class="content fs-4" style="color: #4a4a4a">
                                    Institute of Biomedical Big data
                                    <br> Wenzhou Medical University
                                    <br> Xueyuan Road 270
                                    <br> Wenzhou 325011
                                    <br> China
                                    <br> E-mail:<a href="mailto:funkchen@outlook.com">funkchen@outlook.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <h1 class="card-title pb-3" style="color: #363636">Fukun Chen, M.S.</h1>
                                <div class="content fs-4" style="color: #4a4a4a">
                                    Institute of Biomedical Big data
                                    <br> Wenzhou Medical University
                                    <br> Xueyuan Road 270
                                    <br> Wenzhou 325011
                                    <br> China
                                    <br> E-mail:
                                    <a href="mailto:funkchen@outlook.com">funkchen@outlook.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <h1 class="card-title pb-3" style="color: #363636">Fukun Chen, M.S.</h1>
                                <div class="content fs-4" style="color: #4a4a4a">
                                    Institute of Biomedical Big data
                                    <br> Wenzhou Medical University
                                    <br> Xueyuan Road 270
                                    <br> Wenzhou 325011
                                    <br> China
                                    <br> E-mail:
                                    <a href="mailto:funkchen@outlook.com">funkchen@outlook.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <h1 class="card-title pb-3" style="color: #363636">Fukun Chen, M.S.</h1>
                                <div class="content fs-4" style="color: #4a4a4a">
                                    Institute of Biomedical Big data
                                    <br> Wenzhou Medical University
                                    <br> Xueyuan Road 270
                                    <br> Wenzhou 325011
                                    <br> China
                                    <br> E-mail:
                                    <a href="mailto:funkchen@outlook.com">funkchen@outlook.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <h1 class="card-title pb-3" style="color: #363636">Fukun Chen, M.S.</h1>
                                <div class="content fs-4" style="color: #4a4a4a">
                                    Institute of Biomedical Big data
                                    <br> Wenzhou Medical University
                                    <br> Xueyuan Road 270
                                    <br> Wenzhou 325011
                                    <br> China
                                    <br> E-mail:
                                    <a href="mailto:funkchen@outlook.com">funkchen@outlook.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <h1 class="card-title pb-3" style="color: #363636">Fukun Chen, M.S.</h1>
                                <div class="content fs-4" style="color: #4a4a4a">
                                    Institute of Biomedical Big data
                                    <br> Wenzhou Medical University
                                    <br> Xueyuan Road 270
                                    <br> Wenzhou 325011
                                    <br> China
                                    <br> E-mail:
                                    <a href="mailto:funkchen@outlook.com">funkchen@outlook.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_scripts %}
    <script>
        $(function () {
            endLoading();
        })
    </script>
{% endblock %}