@import url('https://fonts.googleapis.com/css?family=Roboto');

.navbar-nav .nav-link {
    font-size: 20px;
}

.navbar-nav .nav-item.active {
    background-color: #0d423a;
}

.navbar-nav .nav-item.active .nav-link {
    color: white;
}