<footer class="pt-3">
    <nav class="navbar navbar-expand-xxl navbar-dark bg-success">
        <div class="container-fluid p-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Copyright &copy; 2021 |</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Institute of Biomedical Big Data |</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Wenzhou Medical University |</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                </ul>
            </div>
            <a class="navbar-brand navbar-logo fs-1 ms-auto" onclick="window.scrollTo(0,0);" style="cursor: pointer">
                {#                <i class="fas fa-arrow-up"></i>#}
                Back to the Top
            </a>
        </div>
    </nav>
</footer>